/* 

.inputs{
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 5px rgb(153, 134, 134);
  padding: 10px;
  margin: 5px;

}

.gallery{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.im{
  width: 30%;
  margin: 20px;
} */

.head{
  text-align: center;
  text-transform: capitalize;
  color: blueviolet;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input{
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 5px rgb(153, 134, 134);
  padding: 10px;
}

button{
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: brown;
  font-size: large;
  cursor: pointer;
}

.gallery{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.images{
  width: 30%;
  margin: 5px;
}